<h1>Make your payment</h1>

<%= form_for payments_path do |f| %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-email="<%= @order.email %>"
    data-key=""
    data-amount="2000"
    data-name="CraftyTech"
    data-description="2 widgets"
    data-image=""
    data-locale="auto"
    data-zip-code="true"
    data-currency="aud">
  </script>
<% end %>
