<h1>Make your payment</h1>

<%= form_for payments_path do |f| %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-email="<%= @order.email %>"
    data-key="pk_test_4cYaFxyItOJOt1LjYHnnIizq"
    data-amount="2000"
    data-name="CraftyTech"
    data-description="2 widgets"
    data-image="https://s3.amazonaws.com/stripe-uploads/acct_18CkYlEp8ChXHb1umerchant-icon-1463639010695-Logo%20-%20Sheena.png"
    data-locale="auto"
    data-zip-code="true"
    data-currency="aud">
  </script>
<% end %>
